<div class="login-container">
    <form class="login-form" (ngSubmit)="login()" #form="ngForm">
      <h2>Bejelentkezés</h2>
      <div class="form-group">
        <label for="email">Email:</label>
        <input 
        type="email" 
        id="email" 
        name="email" 
        ngModel
        placeholder="email cím megadása" 
        required
        email
        #emailInput="ngModel">
        <span class="help-block" *ngIf="emailInput.touched && !emailInput.valid">Érvénytelen email cím!</span>
      </div>
      <div class="form-group">
        <label for="password">Jelszó:</label>
        <input 
        type="password" 
        id="password"
         name="password" 
         ngModel
         placeholder="jelszó megadása"
         required
         #passwordInput="ngModel">
         <span class="help-block" *ngIf="passwordInput.touched && !passwordInput.valid">Nem hagyhatod üresen ezt a mezőt!</span>
      </div>
      <button type="submit" nbButton [disabled]="!form.valid" disabled>Bejelentkezés</button><br>
      <p>Még nincsen fiókod?</p>
      <button type="button" (click)="goToRegister()" class="register-btn">Regisztráció</button>
      <span class="help-block-login-error" *ngIf="errorMessage">Érvénytelen email vagy jelszó!</span>
    </form>
  </div>