<div class="login-container">
    <form class="login-form" (ngSubmit)="register()" #form="ngForm">
      <h2>Regisztráció</h2>
      <div class="form-group">
        <label for="name">Név:</label>
        <input 
        type="text" 
        id="name" 
        name="name" 
        ngModel
        placeholder="Név cím megadása" 
        required
        #nameInput="ngModel">
        <span class="help-block" *ngIf="nameInput.touched && !nameInput.valid">Nem hagyhatod üresen ezt a mezőt!</span>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input 
        type="email" 
        id="email" 
        name="email" 
        ngModel
        placeholder="Email cím megadása" 
        required
        email
        #emailInput="ngModel">
        <span class="help-block" *ngIf="emailInput.touched && !emailInput.valid">Érvénytelen email cím!</span>
      </div>
      <div class="form-group">
        <label for="name">Lakcím:</label>
        <input type="text" 
        id="address" 
        name="address" 
        ngModel
        placeholder="Cím megadása" 
        required
        #addressInput="ngModel">
        <span class="help-block" *ngIf="addressInput.touched && !addressInput.valid">Nem hagyhatod üresen ezt a mezőt!</span>
      </div>
      <div class="form-group">
        <label for="password">Jelszó:</label>
        <input 
        type="password" 
        id="password" 
        name="password" 
        ngModel
        placeholder="jelszó megadása" 
        required
        minlength="6"
        #passwordInput="ngModel">
        <span class="help-block" *ngIf="passwordInput.touched && !passwordInput.valid">Nem hagyhatod üresen ezt a mezőt!</span>
      </div>
      <button type="submit">Regisztráció</button><br>
      <p>Már van fiókod?</p>
      <button type="button" (click)="backToLogin()" class="register-btn">Bejelentkezés</button>
      <span class="help-block-login-error" *ngIf="errorMessage">Ez az email cím már használatban van!</span>
    </form>
  </div>