.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.medicine-card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}

.cart-items {
    width: 100%;
}

.mat-mdc-card-header {
    display: block;
}

mat-card-title {
    margin-top: 1%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

mat-card-subtitle {
    text-align: center;
    margin-top: 1%;
    font-size: 18px;
    margin-bottom: 1%;
    color: #666;
}

mat-card-content {
    margin: 20px;
    padding: 20px;
    p {
        font-size: 16px;
        color: #333;
    }
}

.user-details {
    text-align: center;
    box-shadow: 20px 0px 20px rgba(0, 0, 0, 0.1);
}

.total {
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 25px;
    font-weight: bold;
}

mat-card-actions {
    display: flex;
    justify-content: center;
    button {
        background-color: #007bff; // Adjust color as needed
        color: white;
        &:hover {
            background-color: #0056b3; // Adjust color as needed
        }
    }
}

button {
    width: 100%;
    padding: 12px;
    background-color: #00d68f;
    color: #fff;
    border: 1px solid #01bb7d; /* Added border for consistency */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2ce69b;
  }

  .register-btn {
    margin-top: 5%;
    background-color: #00d68f !important;
    border-color: #01bb7d;
  }
  
  .register-btn:hover {
    background-color: #2ce69b !important;
  }

  .logout-btn {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #dc3545 !important;
    border-color: #ca3140 !important;
  }
  .logout-btn:hover {
    background-color: #c82333 !important;
  }

  .cart-text {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
  }

  .to-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.mofify-button {
    margin-top: 1%;
    width: 10%;
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container mat-form-field {
    margin-right: 10px; /* Add margin between input and button */
}

.delete-button {
    padding: 8px !important;
    margin-bottom: 0;
    width: fit-content;
    background-color: #e35757 !important;
}

.delete-button:hover {
    background-color: #df1313 !important;
}

.item {
    border-top: 1px solid #ccc;
}

mat-label {
    font-size: 20px;
    margin: 10px;
}

input{
    padding: 5px;
    padding-left: 10px;
    font-size: 15px;
}

.to-cart-container button {
    padding: 12px;
    background-color: #00d68f;
    color: #fff;
    border: 1px solid #01bb7d;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.to-cart-container button:hover {
    background-color: #2ce69b;
}

mat-label {
    color: #666;
}

.login-container {
    text-align: center;
    margin-bottom: 20px;
}