html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; /* Moved font-family to body */
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: #efefef !important;
}

.content {
    padding: 6%;
    padding-left: 5%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1%;
    background-color: #efefef;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
    display: none;
}

/* Optional: Ensure that scrollable areas still scroll */
/* You may need to adjust this based on your layout */
.scrollable-area {
    overflow: auto;
}