<div class="login-container">
    <form class="login-form" (ngSubmit)="modify()" #form="ngForm">
      <h2>Profil szerkesztése</h2>
      <div class="form-group">
        <label for="name">Név:</label>
        <input 
        type="text" 
        id="name" 
        name="name" 
        [(ngModel)]="editUser.name"
        placeholder="Név cím megadása" 
        required
        #nameInput="ngModel">
        <span class="help-block" *ngIf="nameInput.touched && !nameInput.valid">Nem hagyhatod üresen ezt a mezőt!</span>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input 
        type="email" 
        id="email" 
        name="email" 
        [(ngModel)]="editUser.email"
        placeholder="Email cím megadása" 
        disabled="true">
      </div>
      <div class="form-group">
        <label for="name">Lakcím:</label>
        <input type="text" 
        id="address" 
        name="address" 
        [(ngModel)]="editUser.address"
        placeholder="Cím megadása" 
        required
        #addressInput="ngModel">
        <span class="help-block" *ngIf="addressInput.touched && !addressInput.valid">Nem hagyhatod üresen ezt a mezőt!</span>
      </div>
      <button type="submit" [disabled]="!form.valid">Szerkesztés</button><br>
      <button type="button" (click)="backToLProfile()" class="register-btn">Mégse</button>
      <span class="help-block-login-error" *ngIf="errorMessage">Hiba történt!</span>
    </form>
  </div>