.profile-text {
    padding: 20px;
    text-align: center;
  }

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .user-details {
    margin-bottom: 20px;
  }

  .user-details:hover {
    background-color: #efecec;

  }

  .latest-orders {
    padding-top: 20px;
  }
  .order {
    border-top: 1px solid #ccc;
    margin-bottom: 10px;
  }

  .order:hover {
     background-color: #efecec;;
  }
  .logout-btn-container {
    text-align: center;
  }
  .mdc-list-item__secondary-text {
    margin-left: 1%;
  }

  p {
    margin-left: 1%;
  }

  span {
    cursor: pointer;
  }

  .logout-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  .logout-btn:hover {
    background-color: #c82333;
  }

  .user-details {
    position: relative;
  }
  
  .edit-profile {
    position: absolute;
    top: 41%;
    right: 10%;

    transform: scale(2);
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
  }
  
  .user-details:hover .edit-profile {
    opacity: 1;
  }

  .help-block-login-error {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}